name: Prek checks
on: [push, pull_request]

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run Prek
        uses: j178/prek-action@v1
        with:
          extra-args: "--all-files"
